<footer class="footer">
  <div class="row">
    <div class="block block--3">
      <h6 class="footer__title">Mitoo</h6>
      <ul>
        <li><a href="http://app.mitoo.co/terms">Terms</a></li>
        <li><a href="http://app.mitoo.co/privacy">Privacy</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
    <div class="block block--3">
      <h6 class="footer__title">Help</h6>
      <ul>
        <li><a href="http://docs.mitoo.co">Support (US)</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="http://app.mitoo.co/login">Login</a></li>
      </ul>
    </div>
    <div class="block block--6">
      <h6 class="footer__title">Social</h6>
      <ul>
        <li><a href="https://twitter.com/mitoo_sports">Twitter</a></li>
        <li><a href="https://www.facebook.com/footballmitoo">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>