<footer class="footer">
  <div class="row">
    <div class="footer__section block block--3">
      <img
        class="lazyload"
        data-src="/images/logos/logo--footer.png"
        data-srcset="/images/logos/logo--footer.png 1x, /images/logos/logo--footer@2x.png 2x, /images/logos/logo--footer@3x.png 3x"  />
    </div>
    <div class="footer__section block block--3">
      <h6 class="footer__title">Company</h6>
      <ul>
        <li><a href="http://app.mitoo.co/terms">Terms</a></li>
        <li><a href="http://app.mitoo.co/privacy-policy">Privacy</a></li>
        <li><a href="/about/">About Us</a></li>
      </ul>
    </div>
    <div class="footer__section block block--3">
      <h6 class="footer__title">Help</h6>
      <ul>
        <li><a href="http://docs.mitoo.co">Support (US)</a></li>
        <li><a href="http://app.mitoo.co/login">Login</a></li>
        <a href="/leagues/request-invite/">Request an invite</a>
      </ul>
    </div>
    <div class="footer__section block block--3">
      <h6 class="footer__title">Social</h6>
      <ul>
        <li><a href="https://twitter.com/mitoo_sports">Twitter</a></li>
        <li><a href="https://www.facebook.com/footballmitoo">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>