<nav role="navigation" class="navigation" id="nav">
	<div class="row">
		<div class="block block--12">
			<div class="navigation__site-name">
				<a id="logo" href="/">
					<img
            class="lazyload"
            data-src="/images/logos/logo--nav.png"
            data-srcset="/images/logos/logo--nav.png 1x, /images/logos/logo--nav@2x.png 2x, /images/logos/logo--nav@3x.png 3x"  />
				</a>
			</div>

			<a class="mobile-target" href="#nav" title="Show navigation">Menu</a>
    	<a class="mobile-target" href="#" title="Hide navigation">Menu</a>

			<ul class="navigation__links">
	    {% for link in site.data.navigation %}
		    <li
				{%if link.title == page.title %}class="current-menu-item"{% endif %}
				{% for suburl in link.suburls %}{%if suburl.title == page.title %}class="current-menu-item"{% endif %}{% endfor %} >
					<a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
					{% if link.suburls.size > 0 %}
						<ul>
						{% for suburl in link.suburls %}
							<li {%if suburl.title == page.title %}class="current-menu-item"{% endif %}>
								<a href="{{ link.url }}{{suburl.url}}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{suburl.title}}</a>
							</li>
						{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
	    </ul>
		</div>
	</div>
</nav>