<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<!-- <script src="{{ site.url }}/assets/js/scripts.min.js"></script> -->
<script src="/assets/js/plugins/lazysizes.min.js"></script>
<script>
  if($("[data-navigation-transparent]").length) {
    $(document).on( 'scroll', function(){
        if($(document).scrollTop() < $("[data-navigation-transparent]").height()) {
          $(".navigation").addClass("navigation--transparent");
        }else {
          $(".navigation").removeClass("navigation--transparent");
        }
    }).scroll();
  }
  $('.benefits__item').on('click', function(){
      $('.benefits__item').removeClass('benefits__item--active').eq($(this).index()).addClass('benefits__item--active');;
      $('.benefits__images img').addClass('hide').eq($(this).index()).removeClass('hide');
  });
</script>


{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
