.feature {
  font-size: 0;
  height: 400px;
  border-bottom: 1px solid #f1f1f1;
  &__content, &__image {
      @include block-align(middle);
  }

  &__image {
    width: 40%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  &__content {
    width: 60%;
    @include rem(padding, 0, 4, 0, 2);
  }

  &--reverse {
    .feature__image {
      float: right;
    }
    .feature__content {
      float: left;
      text-align: right;
    }
  }

  &--all-in-one-place {
    padding-top: 77px;
  }
  &--messaging {
    padding-top: 104px;
    .feature__image {
      padding-top: 40px;
    }
  }
  &--notifications{
    padding-top: 104px;
  }


  @include respond-to(handhelds) {
    height: auto;
    padding: 0;
    
    @include rem(padding, 4, 1);
    .feature__image, .feature__content {
      float: none;
      width: 100%;
      text-align: center;
      padding: 0;
    }

    .feature__image{
      @include rem(margin-bottom, 2);
    }
  }


}