.feature {
  font-size: 0;
  height: 400px;

  @include display(flex);
  &__wrapper {

  }

  &__content, &__image {
    align-self: center;
    @include block-align(middle);
  }

  &__image {
    width: 40%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  &__content {
    width: 60%;
    @include rem(padding, 0, 4, 0, 2);
  }

  &--reverse {
    @include flex-direction(row-reverse);
    .feature__content {
      text-align: right;
    }
  }

  @include respond-to(handhelds) {
    height: auto;
    padding: 0;
    display: inline-block;
    @include rem(padding, 4, 0);
    .feature__image, .feature__content {
      float: none;
      width: 100%;
      text-align: center;
      padding: 0;
    }

    .feature__image{
      @include rem(margin-bottom, 2);
    }
  }

}