/* Heroes header */
.header {
  background-color: #222;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding: 0;

  @include display(flex);
  @include respond-to(handhelds) {
    min-height: auto;
    @include rem(padding, 4, 0);
  }

  &__content {
    align-self: center;
  }

  &--league {
    background-image: url('/images/backgrounds/background--league.jpg');
    justify-content: center;
    @include respond-to(handhelds) {
      @include rem(padding, 3, 0, 0, 0);
      img {
        max-height: 300px;
      }
    }
    img {
      display: block;
    }
    .header__content {
      align-self: flex-end;
    }
  }

  &--home {
    background-image: url('/images/backgrounds/background--home.jpg');
    @include respond-to(handhelds) {
      .headline__title img {
        max-width: 200px;
      }
    }
  }

  &--story {
    @include respond-to(handhelds) {
      padding: 0;
    }
  }
}