.league-grid {
  font-size: 0;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  &__league {
    width:20%;
    text-align: center;
    height: 120px;
    border: 1px solid #f1f1f1;
    border-bottom: 0;
    border-right: 0;
    position: relative;
    @include font-size(1);
    @include block-align(middle);
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 100%;
      @include rem(padding, 1);
      @include transform(translateY(-50%) translateX(-50%))
    }

    @include max-screen(205px) {
      width: 100%;
    }

    @include screen(206px, 410px) {
      width: 100%;
    }

    @include screen(411px, 615px) {
      width: 50%;
    }

    @include screen(616px, 820px) {
      width: 33.333333%;
    }

    @include min-screen(820px) {
      width: 20%;
    }

  }
}