.story {
  color: $c-white;
  text-align: left;
  display: inline-block;
  background: #222;
  background-size: cover;
  background-position: top right;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: 0;
  vertical-align: middle;
  text-align: left;
  @include display(flex);

  // Background gradient
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 6px;
    top: 0;
    left: 0;

    @include linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 33%,
      rgba(0, 0, 0, 0.8) 66%,
      rgba(0, 0, 0, 0.8) 100%,
      $fallback: transparent
    );
  }

  // Content
  &__content {
    z-index: 1;
    position: relative;
    color: $c-white;
    @include block-align(middle);
    @include align-self(center);
  }

  // Element
  &__league-logo, &__league-title {
    @include block-align(middle);
    max-width: 100%;
  }

  &__league-title {
    @include rem(margin-left, 1);
    font-weight: 400;
  }

  &__league-name {
    @include font-size(2);
    @include rem(margin-bottom, 1);
    @include respond-to(handhelds) {
      @include font-size(1.5);
    }
  }

  &__problem {
    opacity: 0.8;
    @include font-size(1.3);
    @include respond-to(handhelds) {
      @include font-size(1);
    }
  }

  &__quote {
    @include font-size(2);
    @include rem(margin-top, 2);
  }

  // Alt style
  &--light {

    .story__content {
      color: $c-black;
    }

    &:before {
      @include linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 33%,
        rgba(255, 255, 255, 0.8) 66%,
        rgba(255, 255, 255, 0.8) 100%,
        $fallback: transparent
      );
    }
  }
}


//Displayed as a list
.story--list {

  height: 200px;
  @include respond-to(handhelds) {
    height: auto;
  }

  .story__content {
    @include rem(padding, 0, 30, 0, 3);
    @include respond-to(handhelds) {
      @include rem(padding, 2, 6, 2, 2);
    }
  }

  .story__league-title {
    @include respond-to(handhelds) {
      margin-left: 0;
      display: block;
      @include rem(margin-top, 1);
    }
  }
}


//Displayed as a header
.story--header {
  height: 600px;

  @include respond-to(handhelds) {
    height: auto;
  }

  .story__content {
    margin-top: 0;
    @include rem(padding-right, 20);
    @include respond-to(handhelds) {
      @include rem(padding, 3, 0);
    }
  }

  &:before {
    @include linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, 0.8) 100%,
      $fallback: transparent
    );

    @include respond-to(handhelds) {
      @include linear-gradient(
        to left,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%,
        $fallback: transparent
      );
    }
  }

  &.story--light:before  {
    @include linear-gradient(
      to left,

      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 80%,
      rgba(255, 255, 255, 0.8) 100%,
      $fallback: transparent
    );
    @include respond-to(handhelds) {
      @include linear-gradient(
        to left,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%,
        $fallback: transparent
      );
    }
  }
}


.story__map {
  max-width: 100%;
}