.navigation {
  background: $c-black;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: $navigation-height;
  @include rem(padding, 1.5, 0);


  &__site-name {
    @include block-align(middle);
  }



  ul {
  	float: right;
  }

  ul a {
  	display:block;
  	color: #aaa;
  	text-decoration:none;
  	font-weight:700;
  	font-size:12px;
  	line-height:32px;
  	padding:0 15px;
  }

  ul li {
  	position:relative;
  	float:left;
    @include rem(margin-left, 1);
  }

  ul li.current-menu-item {
  	background:#333;
  }

  ul li:hover {
  	background:#333;
  }

  ul ul {
  	display:none;
  	position:absolute;
  	top:100%;
  	left:0;
  	background:#222;
  	padding:0
  }

  ul ul li {
  	float:none;
  	width:200px;
    @include rem(margin-left, 0);
  }

  ul ul a {
  	line-height:120%;
  	padding:10px 15px
  }

  ul ul ul {
  	top:0;
  	left:100%
  }

  ul li:hover > ul {
  	display:block
  }

}