.navigation {
  background: $c-black;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: $navigation-height;
  @include rem(padding, 1.5, 0);


  &__site-name {
    @include block-align(middle);
  }



  &__links {
  	float: right;
  }

  &__links a {
  	display:block;
  	color: #aaa;
  	text-decoration:none;
  	font-weight:700;
  	font-size:12px;
  	line-height:32px;
  	padding:0 15px;
  }

  &__links li {
  	position:relative;
  	float:left;
    @include rem(margin-left, 1);
  }

  &__links li.current-menu-item {
  	background:#333;
  }

  &__links li:hover {
  	background:#333;
  }

  &__links ul {
  	display:none;
  	position:absolute;
  	top:100%;
  	left:0;
  	background:#222;
  	padding:0
  }

  &__links ul li {
  	float:none;
  	width:200px;
    @include rem(margin-left, 0);
  }

  &__links ul a {
  	line-height:120%;
  	padding:10px 15px
  }

  &__links ul ul {
  	top:0;
  	left:100%
  }

  &__links li:hover > ul {
  	display:block
  }

  .mobile-target {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 6px;
    top: 0;
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translateY(-50%);
  }

  &:target .mobile-target {
    background: #333;
  }


  @include respond-to(handhelds) {

    .mobile-target{
      display: none;
    }

    &:not( :target ) .mobile-target:first-of-type,
    &:target .mobile-target:last-of-type {
      display: block;
    }

    &:target {
      .navigation__links {
        display: block;
      }
    }

    &__links {
      position: absolute;
      float: none;
      top: 51px;
      display: none;
      left: -1rem;
      right: -1rem;

      li {
        width: 100%;
        float: none;
        margin: 0;
        background: #222;
        a {
          line-height:120%;
        	padding:20px 15px;
        }
      }

      ul {
        position: relative;
        li {
          width: 100%;
          background: #111
        }
      }
    }
  }
}