.navigation {
  background: $c-black;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  max-height: $navigation-height;
  @include rem(padding, 1.5, 0);


  &__site-name, &__links {
    @include block-align(middle);
  }

  &__links {
    float: right;
    li {
      @include font-size(1);
      @include rem(margin-left, 1);
      @include block-align(middle);

      a {
        text-decoration: none;
        color: $c-white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}