.quote {
  @include vertical-margin-helper(1);

  &__star {
    color: $c-orange;
    @include font-size(2);
  }

  &__text { @include font-size(1.6); }
  &__owner { @include font-size(1.2); }

  &--big {
    .quote__star { @include font-size(2.5); }
    .quote__text {
      @include font-size(2.5, 1.4);
      @include respond-to(handhelds) {
        @include font-size(1.8, 1.4);
      }
    }
    .quote__owner { @include font-size(1.2); }
  }

  &__text {
    quotes: "“" "”" "‘" "’";
    font-weight: 400;
    font-style: italic;
    &:before {
      content: open-quote;
      opacity: 0.6;
      margin-left: -0.4em;
    }

    &:after {
      content: close-quote;
      opacity: 0.6;
      margin-right: -0.4rem;
    }
  }

  &__owner {
    font-weight: 400;
    font-style: italic;
    @include rem(margin-top, 1);
    &__role {
        font-weight: 100;
    }
  }
}