.quote {
  @include vertical-margin-helper(1);

  &__star { @include font-size(2); }
  &__text { @include font-size(1.6); }
  &__owner { @include font-size(1.2); }

  &--big {
    .quote__star { @include font-size(2.5); }
    .quote__text { @include font-size(2.5, 1.4); }
    .quote__owner { @include font-size(1.2); }
  }

  &__text {
    quotes: "“" "”" "‘" "’";
    font-weight: 400;

    &:before {
      content: open-quote;
      opacity: 0.6;
    }

    &:after {
      content: close-quote;
      opacity: 0.6;
    }
  }

  &__owner {
    font-weight: 400;
    font-style: italic;
    @include rem(margin-top, 1);
    &__role {
        font-weight: 100;
    }
  }
}