/*------------------------------------*\
  SECTION - MAIN STYLE
\*------------------------------------*/
.page-section {
  @include rem(padding, 5, 0);

  &__title {
    font-weight: 100;
    color: #2C2C2C;
    @include font-size(1.8);
    @include rem(margin-bottom, 1);
  }

  &__text {
    font-weight: 100;
    color: #6D6D6D;
    @include font-size(1.2);
    @include vertical-margin-helper(0.5);
  }

  &__image {
    @include rem(margin-bottom, 2);
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }

  &--special {
    background: #2C2C2C;
    .page-section__title {
      color: $c-white;
    }
    .page-section__text {
      color: #CACACA;
    }
  }

  @include respond-to(handhelds) {
    @include rem(padding, 3, 0);
  }
}

/*------------------------------------*\
  SECTION - ALTERNATIVE
\*------------------------------------*/

/* Features */
.page-section--feature {
  padding: 0;
  border-bottom: 1px solid #f1f1f1;
  &:last-child{
    border-bottom: 0;
  }
}

/* league stories */
.page-section--league-stories {
  ul li {
    @include vertical-margin-helper(1);
    .story {
      border-radius: 6px;
      border: 1px solid #f1f1f1;
      text-decoration: none;
    }
  }
}

/* row-cta */
.page-section--row-cta {
  @include rem(padding, 0);
}

/* Player quotes */
.page-section--player-quotes {
  .quote {
    @include rem(padding, 1, 0);
  }
}

.page-section--grid-league {
  background: #fafafa;
  .league-grid {
    background: white;
  }
}

.page-section--league-story-info {
  @include respond-to(handhelds) {
    .block {
      @include vertical-margin-helper(2);
    }
  }
}

.page-section--app-presentation {
  @include rem(padding, 8, 0);
  @include respond-to(handhelds) {
    @include rem(padding, 3, 0);
  }
}

.page-section--404 {
  h1 {
    @include font-size(6);
    color: #aaa;
  }

  p {
    @include font-size(2);
    color: #888;
  }
}