/*------------------------------------*\
  SECTION - MAIN STYLE
\*------------------------------------*/
.page-section {
  @include rem(padding, 5, 0);

  &__title {
    font-weight: 100;
    color: #2C2C2C;
    @include font-size(1.8);
    @include rem(margin-bottom, 1);
  }

  &__text {
    font-weight: 100;
    color: #7B7B7B;
    @include font-size(1.2);
    @include vertical-margin-helper(0.5);
  }

  &--special {
    background: #2C2C2C;
    .page-section__title {
      color: $c-white;
    }
    .page-section__text {
      color: #CACACA;
    }
  }

  @include respond-to(handhelds) {
    @include rem(padding, 2, 1);
  }
}

/*------------------------------------*\
  SECTION - ALTERNATIVE
\*------------------------------------*/

/* Heroes header */
.page-section--header {
  background-color: #222;
  min-height: 600px;
  padding: 0;
}

/* Features */
.page-section--feature {
  padding: 0;
}

/* league stories */
.page-section--league-stories {
  .story {
    @include vertical-margin-helper(1);
    border-radius: 6px;
    border: 1px solid #f1f1f1;
    text-decoration: none;
  }
}

/* Player quotes */
.section--player-quotes {
  .quote {
    @include vertical-margin-helper(1);
  }
}