/*------------------------------------*\
  FONTS
\*------------------------------------*/
$din-name: "Din";
@include font-face($din-name, "/assets/fonts/din/DINComp-Light", 200, normal, false);
@include font-face($din-name, "/assets/fonts/din/DINComp-LightIta", 200, italic, false);
@include font-face($din-name, "/assets/fonts/din/DINComp", 400, normal, false);
@include font-face($din-name, "/assets/fonts/din/DINComp-Ita", 400, italic, false);
@include font-face($din-name, "/assets/fonts/din/DINComp-Medium", 500, normal, false);
@include font-face($din-name, "/assets/fonts/din/DINComp-MediumIta", 500, italic, false);
@include font-face($din-name, "/assets/fonts/din/DINComp-Bold", 700, normal, false);
@include font-face($din-name, "/assets/fonts/din/DINComp-BoldIta", 700, italic, false);

/*------------------------------------*\
  BASE
\*------------------------------------*/
*,
*:before,
*:after {
  box-sizing            : border-box;
  font-smooth           : always;
  -webkit-font-smoothing: antialiased;
  margin                : 0;
  padding               : 0;
}
html,
body {
  height: 100%;
  width : 100%;
}
html {
  background-color: $c-white;
}
@include respond-to(handhelds) {
  body {
    overflow-x: hidden;
  }
}
button,
input,
optgroup,
select,
textarea {
  margin     : 0;
  font       : inherit;
  color      : inherit;
  line-height: $base-line-height;
}

a {
  color: $c-blue;
}

.text-center {
  text-align: center;
}

.hide {
 display: none;
}